{% extends 'base.html' %}

{% block title%}
Home
{%endblock%}

{% block content%}  

<div>
    <h2 class="text-center"><b>Upload Image for Fish disease identification</b></h2>
    <br>

    <div class="text-center">
    <form method="post" enctype="multipart/form-data">
        
    <div><br><label for="fname">Upload Image File Here:</label></div><br>
    <div style="margin-left:5em">
        <input name="filePath" type="file">
        <br>
    <br>
    </div>
    <input type="submit" value="Upload"></div><br>
    </div>
<h2 class="text-center"><b>Use camera to identify fish disease</b></h2>
<div class="text-center"><br>
<button>Use camera</button>
</div>
</form>
<br>


{% endblock %}